<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>  </button>
  <span>Planeador de clases</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">Registrar clase</button>
</mat-toolbar>

<div class="container">
  <div style="margin-top: 10px; border:5px solid rgb(64, 238, 108);">
    <p>Hola Taro</p>
    <p>Hasta aquí sí funciona la app, previo a la inserción de la tabla</p>

  </div>
</div>

